
.barHorizontal {
    display: flex;
    flex-direction: row;
    width: 100%;             /* Make sure navbar takes the full width of the screen */
    gap: 10px;               /* Optional: Space between links */
    flex-wrap: wrap;
}

.barVertical{
    display: flex;
    flex-direction: column;
    width: 100%;             /* Make sure navbar takes the full width of the screen */
    gap: 10px;               /* Optional: Space between links */
    flex-wrap: wrap;
}

.barVerticalCentered{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;             /* Make sure navbar takes the full width of the screen */
    gap: 10px;               /* Optional: Space between links */
    flex-wrap: wrap;
}



.navbar {
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    align-items: center;     /* Ensures items are vertically centered */
    width: 100%;             /* Make sure navbar takes the full width of the screen */
    gap: 10px;               /* Optional: Space between links */
    flex-wrap: wrap;
}



.seperator{
    opacity: 0.5;
    display: block;
    border-radius: 10px;
    background-color: #dfdfdf;
}


