




.scrollboxVertical{
    height: 200px;            /* Pflicht: begrenzt sichtbaren Bereich */
    overflow-y: scroll;       /* macht eine Scrollbar */
    overflow-x: hidden;
    border: 1px solid black;  /* optional */
}

.scrollboxHorizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; /* optional, verhindert Umbruch bei Inline-Children */

    width: 100%;
}

/*
.scrollboxHorizontal {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto; 
    border: 0px solid black;

    display: flex;          
    flex-direction: row;   
    gap: 10px;              
}*/
/*
.scrollboxHorizontal::-webkit-scrollbar {
    display: none;                
}*/

.scrollboxHorizontal::-webkit-scrollbar {
    height: 8px;               
}

.scrollboxHorizontal::-webkit-scrollbar-track {
    background: #222;          
}

.scrollboxHorizontal::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
}
