/*BMW OVERLAY*/
#overlay-0{
    background: url('thumbnails/bmw.jpeg')center/cover no-repeat;
    transition: background-size 1.0s ease, opacity 0.5s ease;;
    background-size: 100%;
    opacity: 1.0;
}

/*Bipedal Locomotion 2.0 Overlay*/
#overlay-1{
    background: url('thumbnails/SlipThumbnail.jpg') center/cover no-repeat;
    transition: background-size 1.0s ease, opacity 0.5s ease;;
    background-size: 100%;
    opacity: 1.0;
} 

/*Bipedal Locomotion 1.0 Overlay*/
#overlay-2{
    background: url('thumbnails/skeltonThumbnail.jpg') center/cover no-repeat;
    transition: background-size 1.0s ease, opacity 0.5s ease;;
    background-size: 100%;
    opacity: 1.0;
}

/*Pathfinder Overlay*/
#overlay-3{
    background: url('thumbnails/pathfinderThumbnail.jpeg') center/cover no-repeat;
    transition: background-size 1.0s ease, opacity 0.5s ease;;
    background-size: 100%;
    opacity: 1.0;
}

/*Terrain Overlay*/
#overlay-4{
    background: url('thumbnails/terrainThumbnail.jpg') center/cover no-repeat;
    transition: background-size 1.0s ease, opacity 0.5s ease;;
    background-size: 100%;
    opacity: 1.0;
}
/*UMaterial Overlay*/
#overlay-5{
    background: url('thumbnails/waterGif.gif') center/cover no-repeat;
    transition: background-size 1.0s ease, opacity 0.5s ease;;
    background-size: 110%;
    opacity: 1.0;
}

/*Adobe illustrator Overlay*/
#overlay-adobeillustrator{
    background: url('thumbnails/terrainThumbnail.jpg') center/cover no-repeat;
    transition: background-size 1.0s ease;
    background-size: 100%;
    /*opacity: 1.0;*/
    opacity: 1.0;
}


#overlay-0:hover, 
#overlay-1:hover, 
#overlay-2:hover, 
#overlay-3:hover,
#overlay-4:hover
{
    background-size: 120%;
    opacity: 0.7;
}

/*Default overlay class*/
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('thumbnails/skeltonThumbnail.jpg') center/cover no-repeat;
    cursor: pointer;
    border-radius: 10px;
    transition: background-size 1.0s ease, opacity 0.5s ease;;
    background-size: 100%;
    opacity: 1.0;
}




.fullImageOverlay{
    display: block;
}